@{
    Layout = "~/Views/Shared/_SubPage.cshtml";
}
<div class="row">
    @Html.Partial("~/Views/Profile/_LeftMenu.cshtml")
    <div class="col-md-9">
        <div class="col-md-12">
            <div class="row">
                <p>
                    <img src="/Content/images/main/Samsung_Support.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/Lotte_Sweethome.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/Lotte_Xylitol.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/ford_puzzle.PNG" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/bo.png" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/cisco.png" style="width:12%;height:12%;" />
                    <img src="/Content/images/main/orion.png" style="width:12%;height:12%;" />
                </p>
                <blockquote>
                    <p>Facebook Application 개발<small>삼성전자, LG전자, 롯데제과, 포드코리아, 링컨코리아, 오리온, 보건복지부, 미래창조부 외 다수</small></p>
                    <p>ERP SCM CRM 개발 <small>(주)화미 ERP&SCM 개발, 링크빌 전자세금계산서 개발 등 다수</small></p>
                    <p>커뮤니티 사이트 개발 <small>다이어트 다이어리, 블로그, 식품정보검색 등 다수</small></p>
                    <p>브랜드페이지 개발 <small>하얼빈공업대학교, HRBCHINA, (주)스터디맵 등 다수</small></p>
                </blockquote>
            </div>

            <hr style="border-style:dashed" />

            <div class="row">
                <h3>Develop</h3>
                <blockquote>
                    <p>
                        ASP.NET MVC(C#)
                        <ul class="smallList">
                            <li><small>MVC3, MVC4 Razor기반 프로젝트 설계 및 구축</small></li>
                            <li><small>MVC2 ASPX기반 프로젝트 운영 및 유지보수</small></li>
                            <li><small>Razor WebSite, 전통적인 ASPX 웹사이트 (2.0 이상) 개발 및 유지보수</small></li>
                            <li><small>Window Service, Web API Service 등 개발 및 실무적용 경험</small></li>
                        </ul>
                    </p>
                    <p>Database <small>MS-SQL (2012,2008,2005,2000), MariaDB(MySQL), SqlLite</small></p>
                    <p>HTML5&CSS3&Javascript <small>JQuery, Bootstrap 활용</small></p>
                    <p>API Service <small>페이스북API, 인스타그램API, 네이버API, 다음API, 트위터API, 유튜브 API 외 다수 경험</small></p>
                    <p>Server<small>MS-SERVER(2012, 2008, 2003), CentOS(6.5)</small></p>
                    <p>ETC <small>ASP, Android, ActionScript3(Spring), PHP(CodeIgniter)</small></p>
                </blockquote>
            </div>

            <hr style="border-style:dashed" />

            <div class="row">
                <h3>Tools</h3>
                <blockquote>
                    <p>Visual Studio<small>2013, 2012, 2010, 2008, 2005, 6</small></p>
                    <p>Eclipse<small>for Android, for Spring, for PHP</small></p>
                    <p>Adobe<small>Photoshop, Flash, FlashBuilder, Illustrator</small></p>
                    <p>형상관리 <small>SVN, Git, SourceSafe, TFS</small></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
