@{
    Layout = "~/Views/Shared/_SubPage.cshtml";
}

<h2>Profile</h2>

<div>
    Hello, My name is Park Hee-Sung.

    I was very interested in computer when I was young.
    That's why my major is Computer-Related in high school and university.

    I found a job as a web-programmer.
    Afterwards, I taked some classes of developers for six months.
    Also, I taked some courses of dotnet-framework for two weeks.

    I working mainly on ASP.NET development, and I hope that I will do coding when I get old.

    I like surfing the internet, playing online games.
    I have two children who live in Suwon City.
</div>