@{
    Layout = "~/Views/Shared/_SubPage.cshtml";
}
<div class="row">
    @Html.Partial("~/Views/Profile/_LeftMenu.cshtml")
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <h3>개발자</h3>
                <p>
                    ASP부터 시작해서 ASP.NET 2.0을 거쳐 현재는 ASP.NET MVC 위주로 개발을 하고 있다.<br />
                    모바일 개발에 관심이 많아 Android로 미래선도과제(정부과제)에 참여했고, 지금도 공부중이다.<br />
                    Flash Air 기반에 게임앱을 만들어 플레이스토어에 올려보았고,<br />
                    Unity 기반으로 앱 개발을 연습중에 있다.<br />
                    윈도우 서버를 직접 관리하는 편이며, AWS와 Azure에 각각 프로젝트를 올려서 운영중이다.
                </p>
            </div>
            <div class="col-md-12">
                <h3>창작자</h3>
                <p>
                    어려서 꿈이 만화가였던 이유는 창작에 대한 욕구 때문이었다.<br />
                    지금도 그 창작에 대한 꿈을 포기하지 않았기에, 짬짬히 나름에 노력과 연습을 계속 해오고 있다.<br />
                    성과가 크게 나지는 않더라도 꾸준히 한다면, 언젠가는 그 나름의 목표에 도달할 날이 있을 것이라 믿고 있다.<br />
                    그리고 그것은 나의 개발 능력과 맞물려 시너지가 될 수 있기를 바라면서<br />
                    또한 그런 측면에서 고민과 노력을 계속 하고 있다.
                </p>
            </div>
            <div class="col-md-12">
                <h3>좋은 아빠이자 남편</h3>
                <p>
                    원래 모토가 "가정적인 남편"이기에 모든 일에서 가정을 최우선으로 삼는다.<br />
                    지난 10년여의 직장생활중 70~80% 이상을 정시 퇴근하며, 야근을 멀리하고 있다.<br />
                    적어도 이 다음에 자식들에게 멀게 느껴지는 아빠, 가정에 소홀했던 돈벌어오는 기계가 되고 싶진 않다.<br />
                    이제는 내 삶에 버팀목이 된 나에 가족들을 위해, 나는 내가 할 수 있는 최대한 많은 시간을 가족에게 할애한다.
                </p>
            </div>
        </div>
    </div>
</div>