@{
    Layout = "~/Views/Shared/_SubPage.cshtml";
}
<div class="rows">
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/Facebook.png" />
            <div class="caption text-center">
                <h3>페이스북</h3>
                <p><a href="https://www.facebook.com/yunlang97" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/Twitter.png" />
            <div class="caption text-center">
                <h3>트위터</h3>
                <p><a href="https://twitter.com/yunlangOK" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/LinkdIn.png" />
            <div class="caption text-center">
                <h3>링크드인</h3>
                <p><a href="https://kr.linkedin.com/in/parkheesung" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/GoogleBlog.png" />
            <div class="caption text-center">
                <h3>블로그</h3>
                <p><a href="http://blog.parkheesung.com/" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
</div>
<div class="rows">
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/kakao.png" />
            <div class="caption text-center">
                <h3>카카오스토리</h3>
                <p><a href="https://story.kakao.com/yunlang97" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/pinterest.png" />
            <div class="caption text-center">
                <h3>핀터레스트</h3>
                <p><a href="https://kr.pinterest.com/parkheesung/" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3" style="margin-bottom:10px;">
        <div class="thumbnail">
            <img class="img-rounded" src="/Content/Images/Link/instagram.png" />
            <div class="caption text-center">
                <h3>인스타그램</h3>
                <p><a href="https://www.instagram.com/parkheesung97/" class="btn btn-warning" target="_blank" role="button">Link</a></p>
            </div>
        </div>
    </div>
</div>
