@model Member
@{
    Layout = "~/Views/Shared/_SubPage.cshtml";
}
<div class="container">
    <h2>설정</h2>
    <form name="frm" id="frm" method="post" onsubmit="return false;">
        <div class="row">
            <div class="col-md-12">
                <p><h4>@(Model.Email)</h4></p>
                <div class="alert alert-danger">
                    <strong>변경불가</strong> 이메일주소는 아이디로 겸용되고 있기 때문에, 변경할 수 없습니다.
                </div>
            </div>
            <div class="col-md-12">

                <div class="col-md-12 topMargin3">
                    <input type="text" class="form-control" name="Name" id="Name" maxlength="30" placeholder="이름" value="@(Model.Name)" />
                </div>



                <div class="col-md-12 topMargin3">
                    <input type="password" class="form-control" name="NowPass" id="NowPass" maxlength="100" placeholder="현재비밀번호" value="" />
                </div>



                <div class="col-md-12 topMargin3">
                    <input type="password" class="form-control" name="NewPass" id="NewPass" maxlength="100" placeholder="변경할 비밀번호" value="" />
                </div>



                <div class="col-md-12 topMargin3">
                    <input type="password" class="form-control" name="NewPassConfirm" id="NewPassConfirm" maxlength="100" placeholder="비밀번호 확인" value="" />
                </div>



                <div class="col-md-12 topMargin3">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>Warning!</strong> 비밀번호 변경을 희망하지 않는 경우, 현재비밀번호, 변경할 비밀번호, 비밀번호 확인 모두 공란으로 두세요.
                        비밀번호 변경을 희망할 경우 세가지 모두 작성하셔야 합니다.
                    </div>
                </div>

            </div>
        </div>
        <hr class="dashed">
        <div class="row">
            <div class="col-md-12">
                <button type="button" onclick="SaveSetup();" class="btn btn-success">저장하기</button>
                <button type="button" onclick="LoadFacebookPW();" class="btn btn-primary">페이스북 계정정보 가져오기</button>
            </div>
        </div>
    </form>
</div>
